.toolbarHorizonSection {
  position: absolute;
  border-radius: 3px;

  z-index: 1000;
  button {
    color: var(--black) !important;
    border: none !important;
    border-radius: 50px !important;
    background-color: var(--white);
    align-items: center;
    padding: 3px;
    margin: 2px;
    font-size: 14px;
    z-index: 1001;
    box-shadow: 0 5px 19px rgba(6, 21, 40, 0.3);
    &:hover {
      color: var(--white) !important;
      border: none !important;
    }

    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
}
