.preview {
  position: relative;
  width: 100%;
  height: 100%;

  .preview__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--color-white);
    padding-bottom: 6.25rem;

    .hidden {
      display: none;
    }
  }
}
