.toolbarSection {
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 5px 19px rgba(6, 21, 40, 0.3);
  z-index: 1000;
  background-color: var(--white);
  display: inherit;
  button {
    padding: 1px;
  }

  .toolbar__item {
    margin: 2px;
    
    z-index: 1001;

    button {
      color: var(--black) !important;
      border: none !important;
      display: flex;
      align-items: center;

      &:hover {
        color: var(--white) !important;
        border: none !important;
      }

      &:focus,
      &:active {
        box-shadow: none !important;
      }
    }

    input {
      width: 50px;
      border: 1px solid var(--color-codGray);
      border-radius: 3px;
      text-align: center;
    }
  }
}

.toolbar__popover {
  background-color: var(--white) !important;
  z-index: 1000;
  padding: 0px !important;
  border: none !important;
  border-radius: 8px;
  font-size: 13px;
  text-align: left;
  color: #000 !important;
  display: flex;
  align-items: center;

  .popover-body {
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 5px 19px rgba(6, 21, 40, 0.3);
    overflow: hidden;
  }

  .arrow::after {
    border-bottom-color: var(--white);
  }

  .arrow::before {
    border-bottom-color: transparent;
  }

  button {
    border: none;
    color: var(--color-codGray);
    text-align: left;
  }
}
