:root {
  --color-cerulean: #00adee;
  --color-selectiveYellow: #fbb200;
  --color-jaffa: #f48836;
  --color-gray: #8c8c8c;
  --color-dustyGray: #959595;
  --color-silver: #c4c4c4;
  --color-stormDust: #626260;
  --color-white: #ffffff;
  --color-black: #000000;
  --color--dust: #ececec;
  --color-transparent: transparent;
  --color-cobalt: #45509f;
  --color-green:#33FF00;
  --color-scorpion: #585858;
  --color-tango: #F48029;
  --color-error: #F44E29;
}
