@import './custom/atomics.scss';
@import './custom/icon.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

body {
  overflow-y: scroll;
  overflow-x: hidden;

  .editor {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(93, 93, 93, .79);
  border-radius: 5px;
}

:root {
  --color-codGray: #121212;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;
}

.pickr {
  button {
    background: none !important;
    height: 5px !important;
    padding: 0 !important;

    &.clear {
      color: transparent !important;
      border: 1px solid var(--color-codGray);
    }

    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: var(--white) var(--white) #6c757d var(--white);
  border-width: 2.5px;
  color: #6c757d !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: var(--white) var(--white) #6c757d var(--white);
  border-width: 2.5px;
}

.list-group-item.active {
  background-color: #6c757d;
  border-color: #6c757d;
}

.modal-custom-400 {
  margin-top: 100px;

  .modal-dialog .modal-content {
    width: 400px;
    margin: auto;
    z-index: 1080;
  }
 
}
.modal-header .close{
  margin: 0;
}

.tooltip {
  z-index: 1010;
}

.react-draggable {
  &.resize--custom {
    .resize {
      &.resize--top {
        top: 1px !important;
      }

      &.resize--bottom {
        bottom: -1px !important;
      }

      &.resize--left {
        left: 1px !important;
      }

      &.resize--right {
        right: -1px !important;
      }
    }
  }

  .resize {
    width: 12px !important;
    height: 12px !important;
    margin: auto !important;

    &.resize--bottom {
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      margin: 0 auto !important;
      border-bottom: 2px solid var(--primary) !important;
    }

    &.resize--bottomLeft {
      left: 0 !important;
      bottom: 0 !important;
      border-left: 2px solid var(--primary) !important;
      border-bottom: 2px solid var(--primary) !important;
    }

    &.resize--bottomRight {
      right: 0 !important;
      bottom: 0 !important;
      border-right: 2px solid var(--primary) !important;
      border-bottom: 2px solid var(--primary) !important;
    }

    &.resize--left {
      left: 0 !important;
      bottom: 0 !important;
      border-left: 2px solid var(--primary) !important;
    }

    &.resize--right {
      right: 0 !important;
      bottom: 0 !important;
      border-right: 2px solid var(--primary) !important;
    }

    &.resize--top {
      top: 0 !important;
      right: 0 !important;
      border-top: 2px solid var(--primary) !important;
    }

    &.resize--topLeft {
      left: 0 !important;
      top: 0 !important;
      border-left: 2px solid var(--primary) !important;
      border-top: 2px solid var(--primary) !important;
    }

    &.resize--topRight {
      right: 0 !important;
      top: 0 !important;
      border-right: 2px solid var(--primary) !important;
      border-top: 2px solid var(--primary) !important;
    }
  }
}
