@for $i from 0 through 300 {
  .fontSize--#{$i} {
    font-size: #{$i / 16}rem !important;
  }

  .w--#{$i} {
    width: #{$i / 16}rem !important;
  }

  .h--#{$i} {
    height: #{$i / 16}rem !important;
  }

  .m--#{$i} {
    margin: #{$i / 16}rem !important;
  }

  .mx--#{$i} {
    margin-left: #{$i / 16}rem !important;
    margin-right: #{$i / 16}rem !important;
  }

  .my--#{$i} {
    margin-top: #{$i / 16}rem !important;
    margin-bottom: #{$i / 16}rem !important;
  }

  .mt--#{$i} {
    margin-top: #{$i / 16}rem !important;
  }

  .mr--#{$i} {
    margin-right: #{$i / 16}rem !important;
  }

  .mb--#{$i} {
    margin-bottom: #{$i / 16}rem !important;
  }

  .ml--#{$i} {
    margin-left: #{$i / 16}rem !important;
  }

  .p--#{$i} {
    padding: #{$i / 16}rem !important;
  }

  .px--#{$i} {
    padding-left: #{$i / 16}rem !important;
    padding-right: #{$i / 16}rem !important;
  }

  .py--#{$i} {
    padding-top: #{$i / 16}rem !important;
    padding-bottom: #{$i / 16}rem !important;
  }

  .pt--#{$i} {
    padding-top: #{$i / 16}rem !important;
  }

  .pr--#{$i} {
    padding-right: #{$i / 16}rem !important;
  }

  .pb--#{$i} {
    padding-bottom: #{$i / 16}rem !important;
  }

  .pl--#{$i} {
    padding-left: #{$i / 16}rem !important;
  }

  .whiteSpace--nowrap {
    white-space: nowrap;
  }
}
