.colorPicker {
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 5px 19px rgba(6, 21, 40, 0.3);
  z-index: 1001;
  background-color: var(--color-white);
  padding: 5px;

  .colorPicker__handle {
    cursor: all-scroll !important;
    text-align: center;

    i {
      font-size: 20px !important;
    }
  }

  .colorPicker__color {
    box-shadow: none !important;
  }
}
