.sidebar--right {
  position: fixed;
  top: 15vh;
  right: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 19px rgba(6, 21, 40, 0.3);
  z-index: 1001;
  background-color: var(--color-white);

  i {
    font-size: 20px;
  }

  .first-child {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    cursor: all-scroll !important;
    width: 80px;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-white) !important;
      color: var(--color-codGray) !important;
    }
  }
  
  button {
    color: var(--color-codGray);
    border: none !important;
    box-shadow: none !important;
    font-size: 14px;

    

    &:last-child {
      border-bottom-left-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
    }
  }
}

.sidebar--right__popover {
  padding: 0px;
  border: none !important;
  box-shadow: 0 5px 19px rgba(6, 21, 40, 0.1);
  z-index: 1001;

  .arrow::before {
    border-left-color: transparent;
  }

  .popover-body {
    padding: 0 5px;
    display: block;
  }

  button {
    border: none !important;
    display: flex;
    margin: 5px 0;
    width: 100%;
    color: var(--color-codGray);
    box-shadow: none !important;
    align-items: center;
    font-size: 14px;

    i {
      margin-right: 5px;
    }
  }
}

.sidebar--right__div {
    padding: 0 5px;
    display: block;
  button {
    border: none !important;
    display: flex;
    margin: 5px 0;
    width: 100%;
    color: var(--color-codGray);
    box-shadow: none !important;
    align-items: center;
    font-size: 14px;

    i {
      margin-right: 5px;
    }
  }
}

.modal--publish {
  .modal--publish__link {
    a {
      color: var(--blue) !important;
    }
  }
}